<header>
    <app-header></app-header>
</header>


<div class="container mt-5">
    <div class="row md-8">
        <div class="col-8">
            <h1>{{selected_bot.name}}</h1>
            <p>Date uploaded: {{selected_bot.date_uploaded}}</p>
        </div>
    </div>
    <div class="row md-8">
        <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            [yScaleMin]="yScaleMin"
            [yScaleMax]="yScaleMax"
            >
        </ngx-charts-line-chart>
    </div>
    <div class="row md-8">
        <div class="col-8">
            <p>{{selected_bot.description}}</p>
        </div>
    </div>
</div>

