<p-toast> </p-toast>
<div class="mb-8">
    <h1 class="text-3xl font-bold text-surface-900 dark:text-surface-0 mb-2">
        Registro de Administradores y Dispositivos
    </h1>
</div>

<p-fluid class="flex flex-col md:flex-row gap-8">
            <div class="md:w-1/2">
                <div class="card flex flex-col gap-4">
                    <div class="font-semibold text-xl">Registro de Dispositivos</div>

                    <div class="font-semibold text-xl">Nuevo Agente</div>
                    <p-iconfield>
                        <p-inputicon class="pi pi-user" />
                        <input pInputText type="text" placeholder="Strategy" [(ngModel)]="strategy"/>
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-envelope" />
                        <input pInputText type="text" placeholder="PredicionSources" [(ngModel)]="predictionSources" />
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <input pInputText type="text" placeholder="Risk Tolerance" [(ngModel)]="riskTolerance"/>
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-user" />
                        <input pInputText type="text" placeholder="Max Position Size" [(ngModel)]="maxPositionSize"/>
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-envelope" />
                        <input pInputText type="text" placeholder="Stop Loss Threshold" [(ngModel)]="stopLossThreshold" />
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <input pInputText type="text" placeholder="Automation Level" [(ngModel)]="automationLevel"/>
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <input pInputText type="text" placeholder="Max Trades Per Day" [(ngModel)]="maxTradesPerDay"/>
                    </p-iconfield>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <input pInputText type="text" placeholder="Max Api Cost Per Day" [(ngModel)]="maxApiCostPerDay"/>
                    </p-iconfield>

                    <p-button label="Registrar" styleClass="w-full" (click)="createAgent()"></p-button>
                </div>
                
            </div>
            
        </p-fluid>
