<header>
    <app-header></app-header>
  </header>
  
  <div class="container mt-5">
    <!-- Sección de Comercios -->
    <div class="row mb-4">
      <div class="col-12">
        <h2 class="text-center mb-4">Trading Bots Catalog</h2>
      </div>
    </div>
  
     <!-- Product Section -->
  <div class="row">
    <div class="col-12">
      <div class="row" *ngIf="!cargandoProductos">
        <div class="col-md-4 mb-4" *ngFor="let bot of bots">
          <div class="card h-100">
            <!-- Card Header -->
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="card-title mb-0">{{ bot.name }}</h5>
              <span
                class="badge rounded-pill"
                [ngClass]="getBadgeClass(bot.subscriptionName)"
              >
                {{ bot.subscriptionName }}
              </span>
            </div>

            <!-- Card Body -->
            <div class="card-body">
              <p class="card-text">
                <strong>Trading Error:</strong> {{ bot.error }}<br />
              </p>
              <button class="btn btn-info me-4" (click)="goToExplore(bot.id)">Explore Bot</button>
              <button class="btn btn-traid">TRaiD</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>