/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.button-overrides((
  filled-container-color: var(--mat-sys-on-primary),
));

// Include the common styles
@include mat.core();
html {
    color-scheme: light dark;
    @include mat.theme((
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
    ));
}

body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  
}
