<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TRaiDapp</span>
  <span class="toolbar-spacer"></span>
  

  
  <!-- Navigation Links -->
  <div class="desktop-nav">
    <mat-slide-toggle class="example-margin" [checked]="checked"></mat-slide-toggle>
    <button mat-button routerLink="/">Resources</button>
    <button mat-button routerLink="/">About</button>
  </div>

  <!-- Wallet-->
  <div class="d-flex">
    <button mat-stroked-button *ngIf="!isWalletConnected" class="accent" (click)="connectWallet()">
      Connect Wallet
    </button>
    <div *ngIf="isWalletConnected" class="wallet-info">
      <span class="wallet-address text-info me-2">{{ formatWalletAddress(walletAddress) }}</span>
      <button mat-button (click)="disconnectWallet()">Disconnect</button>
    </div>
  </div>
</mat-toolbar>