<mat-toolbar color="primary">
  <button mat-icon-button class="sidenav-btn" (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TRaiDapp</span>
  <span class="toolbar-spacer"></span>
  

  
  <!-- Navigation Links -->
  <div class="desktop-nav">
    <mat-slide-toggle 
      class="dark-mode-toggle" 
      [checked]="isDarkMode" 
      (change)="toggleDarkMode()"
      aria-label="Toggle dark mode">
    </mat-slide-toggle>
    <button mat-button routerLink="/">Resources</button>
    <button mat-button routerLink="/">About</button>
  </div>

  <!-- Wallet-->
  <div class="d-flex">
    <button 
      mat-stroked-button 
      class="accent" 
      [matMenuTriggerFor]="walletMenu"
      *ngIf="isWalletConnected"
      #walletButton>
      <mat-icon svgIcon="starknet-logo"></mat-icon>
      {{ formatWalletAddress(walletAddress) }}
    </button>
    <button 
      mat-stroked-button 
      class="accent" 
      (click)="connectWallet()"
      *ngIf="!isWalletConnected">
      Connect Wallet
    </button>
    
    <mat-menu #walletMenu="matMenu">
      <button mat-menu-item (click)="disconnectWallet()">
        <mat-icon>logout</mat-icon>
        <span>Disconnect</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>